node_modules
dist
dist-ssr
*.local
.DS_Store
.vercel

# editor
.vscode/*
!.vscode/extensions.json
.idea

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local reference docs, not for publishing
architecture copy.html
